@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    box-sizing: border-box;
}

body{
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    font-family: 'Lobster', sans-serif;
    font-size: 1.5em;
    width: 100vh;
    height: 90vh;
    display: flex;
    gap: 1rem;

}

.painel{
    width: 100%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.ativo {
    width: 250em;
    transition: width 2s ease;
}